{% extends "base.html" %}
{% block titulo %}Contato{% endblock %}
{% block conteudo %}
    <section class="container my-5 text-center">
        <h1 class="display-4 fw-bold mb-4">Entre em Contato</h1>
        <p class="lead mb-5">
            Estou disponível para novos projetos, colaborações e oportunidades.
            Entre em contato comigo através dos canais abaixo:
        </p>

        <div class="row justify-content-center">
            
            <div class="col-md-6 col-lg-4 mb-4">
                <a href="https://wa.me/5579999645678" class="btn btn-success btn-lg w-100" target="_blank">
                    <i class="fab fa-whatsapp"></i> WhatsApp
                </a>
                <p class="mt-2">Número para contato 👆🏼</p>
            </div>

            <div class="col-md-6 col-lg-4 mb-4">
                <a href="mailto:jhonaton.s.barreto@gmail.com" class="btn btn-primary btn-lg w-100" target="_blank">
                    <i class="fas fa-envelope"></i> E-mail
                </a>
                <p class="mt-2">Meu Gmail👆🏼</p>
            </div>
        </div>
    </section>
{% endblock %}