{% extends "base.html" %}
{% block titulo %}Projetos{% endblock %}

{% block conteudo %}
    <h1 class="mb-4">Meus Projetos</h1>
    
    <div class="row">
        {% for projeto in projetos %}
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card h-100">
                <img src="{{ url_for('static', filename='img/' + projeto.imagem) }}" class="card-img-top" alt="Imagem do Projeto {{ projeto.titulo }}">
                
                <div class="card-body">
                    <h5 class="card-title">{{ projeto.titulo }}</h5>
                    <p class="card-text">{{ projeto.descricao }}</p>
                    <span class="badge bg-primary">{{ projeto.linguagem }}</span>
                </div>

                <div class="card-footer text-center">
                    <a href="{{ projeto.link_projeto }}" class="btn btn-dark" target="_blank">
                        Ver no GitHub <i class="fab fa-github"></i>
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}